*{
    margin: 0;
    padding: 0;
}
h3{
    background-color:burlywood;
    padding:30px;
    border-radius: 20px;
    margin:20px;
    border-style: groove;
}
.header{
    min-height: 100vh;
    width:100%;
    background-image: url("img5.jpg");
    background-position:center;
    background-size:cover;
    animation-name: animes;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    background-attachment: scroll;
    position:absolute;
    transition:all;
}
@keyframes animes{
    25%{background-image: url("img5.jpg");}
    50%{background-image: url("travel.jpg");}
    75%{background-image: url("travel1.jpg");}
    88%{background-image: url("travel2.jpg");}
    100%{background-image: url("travel3.jpg");}
    
}
p{
    padding:30px;
    border-radius:20px;
    margin:100px;
    border-style: double;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 2px;
    font-size: 30px;
    background-color: cornsilk;
    
}
nav{
    display: flex;
    padding:20px;
    justify-content: space-between;
    align-items: center;

}

.navl{
    flex:1;
    text-align:right;
}
.navl ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.navl ul li a{
    color:white;
    background-image:linear-gradient(green,lightgreen);
    border-radius: 20px;
    padding:10px;
    font-family: cursive;
}
